*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/* header1  */
.header1{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* border-bottom: 1px solid gray; */
}

.name{
    color: #7E22CE;
    font-size: 20px;
    padding-left: 30px;
    font-weight: 700;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 2px;
}

ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #3a3a3a;
    display: inline-block;
}

ul li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0px;
    background: #7E22CE;
    transition: all .5s;
}
ul li a:hover::after{
    width: 100%;
}

.btn{
    padding: 8px 15px;
    font-size: 12px;
    background: #7E22CE;
    color: white;
    outline: none;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}


/* header2  */

.header2{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 5px 8px grey;
}
.header2 i{
    padding: 0px 50px;
}
.fixed{
    position: fixed;
    width: 100%;
}

ol{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

ol li a{
    padding: 0 20px;
    text-decoration: none;
    color: #7E22CE;
    display: inline-block;
}

ol li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0px;
    background: #7E22CE;
    transition: all .5s;
}
ol li a:hover::after{
    width: 100%;
}


/* header3  */

.header3{
    height: 135px;
}

/* main1  */


.main1{
    display: flex;
    height: 380px;
    align-items: center;
    justify-content: space-between;
}

.image-1{
    max-width: 560px;
    height: 100%;
}

.content-left{
    padding: 0px 120px;
    align-items: center;
    justify-content: center;
}
.content-right{
    margin: 0px 90px;
}

.heading1{
    font-size: 35px;
    color: #1F2937;
    font-weight: 600;
}
.heading2{
    color: #7E22CE;
    /* opacity: 0; */
    animation: opacity 1.5s ease 1s infinite alternate;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}
.heading3{
    font-size: 20px;
    color: #1F2937;
    font-weight: 600;
    padding-bottom: 10px;
}

.heading3-animation{
    font-size: 20px;
    color: #7E22CE;
    font-weight: 600;
    animation: opacity 1.5s ease 1s 1 alternate-reverse;
}

.para{
    font-size: 14px;
    color: gray;
    width: 80%;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 25px;
}

.course{
    padding: 13px 16px;
    font-size: 12px;
    background: rgb(13, 11, 28);
    color: rgb(255 255 255);
    outline: none;
    border: none;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}
.blog{
    padding: 13px 16px;
    font-size: 12px;
    background: rgba(128, 128, 128, 0.4);
    color: black;
    outline: none;
    border: none;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}


/* main2  */

.main2{
    height: 700px;
}


.heading4{
    font-size: 32px;
    font-weight: 600;
    padding-top: 20px;
}

.videos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 155px;
}
.video{
    color: white;
    border-radius: 32px;  
    box-shadow: 5px 10px 8px #888888a7;
    height: 510px;
    width: 393px;
}

.img{
    width: 100%;
    border-radius: 20px;
}

h5{
    font-size: 12px;
    color: black;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 3px;
}
h3{
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
    padding-bottom: 15px;
}

.para{
    font-size: 15px;
    padding: 0px 20px 35px 20px;
    color: gray;
    font-weight: 400;
    line-height: 22px;
}

.para2{
    padding-bottom: 35px;
}

.para3{
    padding-bottom: 55px;
}

.button{
    padding: 12px 14px;
    font-size: 15px;
    background: #7E22CE;
    color: white;
    outline: none;
    border: none;
    font-weight: 500;
    border-radius: 40px;
    cursor: pointer;
    margin:  0px 20px;
}


/* main3 */

.main3{
    height: 400px;
}

.main3-head{
    font-size: 28px;
    font-weight: 600;
    padding-top: 2px;
}

.main3-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 90px 0px 90px;
}

.content-3{
    height: 270px;
    width: 50%;
    background: #88888819;
    padding: 0px 30px;
    margin: 0px 15px;
    border-radius: 5px;
}


.comma{
    font-size: 70px;
    color: rgba(128, 128, 128, 0.636);
}

.main3-para{
    font-size: 14px;
    font-weight: 400;
    color: gray;
    line-height: 28px;
    padding-bottom: 15px;
}




/* Footer */

footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}
.Copyright img{
    margin: 0px 20px;
}
.Copyright h3{
    padding-top: 14px;
    padding-right: 20px;
    font-size: 20px;
}
.Copyright p{
    color: grey;
}

.icons{
    margin: 0px 80px;
}

.icons i{
    padding: 0px 10px;
    transform: scale(1.3);
}
